*.log
*.swp
*.mo
*.edit.po
*.rej
.DS_Store
.bundle
.chef
.directory
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/node_modules
/yarn-error.log
/.yarn-cache
.byebug_history
.idea
/.vscode/*
/.ruby-gemset
/.ruby-version
/.rbenv-version
.rbx/
/.rvmrc
/config/application.yml
/config/database*.yml
/config/redis.cache.yml
/config/redis.queues.yml
/config/redis.shared_state.yml
/config/master.key
/config/sidekiq.yml
/config/registry.key
/coverage/*
/.rspec
package-lock.json
